<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5432/earth</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">postgres</property> <!-- DB Customer -->
        <property name="connection.password">root</property> <!-- DB Password -->

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">none</property> <!-- create / create-drop / update -->

        <property name="show_sql">false</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->

        <mapping class="application.model.cities.City"/>
        <mapping class="application.model.cities.Region"/>
        <mapping class="application.model.cities.Country"/>
        <mapping class="application.model.users.Customer"/>
        <mapping class="application.model.users.UserRequest"/>
    </session-factory>
</hibernate-configuration>